**/node_modules
build
dist
arkoala/tools/peer-generator/arkoala
**/package-lock.json
.vscode
**.code-workspace
.idea
**/target
**/cjpm.lock
**/CallsiteKey.o
sdk
interface_sdk-js
.ninja_log
**/.hvigor
**/js_output
**/command-line-tools
**/libs
**/*.abc
cachegrind.out.*
perf.data*
**/arktsconfig-unmemoized-merged.json
arkoala-arkts/arkui-ohos-preprocess/
arkoala-arkts/arkui-ui2abc-processed/
arkoala-arkts/arkui-preprocessed/
arkoala-arkts/ui2abcconfig-m3-merged.json
arkoala-arkts/build-m3-impl/
**/*/koala_build.log
arkoala/arkui-common/ets/
arkoala/arkui-common/build-m3/
ui2abc/libarkts/.rollup.cache
ui2abc/**/*/lib/
**/.ninja_deps
incremental/runtime/ets/
incremental/runtime/ets-processed/
